*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.top-header{
    width: 100%;
    height: 100px;
    
    background-color: yellow;
}
#logo{
    height: 100px;
    float: left;
}

a{
    color: brown;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    justify-content: center;
    margin-top: 30px;
}
li{
    display: inline;
    float: right;
    
}
#stock{
    height: 500px;
    width: 900px;
}
.stock-img{
position: absolute;
right:5px;
top:70px
}
.desc{
    left: 150px;
    top:200px;
position: absolute;
}
.bottom-div{
    position: relative;
}
.desc1{
letter-spacing: 2px;
color:brown;
font-size: 3rem;
margin-bottom: 30px;
}
.desc2{
    
    color:black;
    font-size: 1rem;
    
}
.desc3{
    letter-spacing: 1px;
    color:black;
    font-size: 2rem;
    margin-bottom: 30px;
}
button{
    background-color: yellow;
    padding: 20px 100px;
    border: brown;
    color: brown;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    
}